*{
    padding: 0px;
    margin: 0px;
    transition: all 300ms ease-in-out;

    --background-color : #353535;
    --text-color : #fff;
}
body{
background-color: var(--background-color);
color : var(--text-color);
/* background: url("../images/bg6.svg"); */
background-size: cover;
background-repeat: no-repeat;
padding: 50px 50px 50px 20px;
font-family: Nunito;
}

h1{
    color:#3668b4;
}

#menu{
    display: inline-block;
}

#menu{
    margin-left: 100px;
}

#menu a{
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    color:rgb(114, 114, 114);
    padding: 20px 5px;
}

#menu a:hover{
    /* background-color: white; */
    font-weight: 600;
    letter-spacing: 1px;
    /* color:#fff; */

}

#identites,#reseaux,#produits{
    /* background-color: #ffffff6f; */
    backdrop-filter: blur(8px);
    /* color:#fff; */
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    border-radius: 5px;
    /* border: 2px solid rgba(0, 0, 0, 0.361); */
    box-shadow: 0px 0px 50px 0px #0003;
}

#identites:hover,#reseaux:hover,#produits:hover{

    /* border: 2px solid rgba(0, 0, 0, 0.361); */
    box-shadow: 0px 0px 100px 0px #1484fc1b;
    box-shadow: 0 0 50px #0003;
}

#identites table tr{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

#identites img{
    width: 300px;
    object-fit: cover;
    border: 10px solid #fff;
    box-shadow: 0 0 50px #0003;
    border-radius: 50%;
}

h2{
    color:#4a7dca;
    margin-top: 15px;
    margin-bottom: 15px;
}

h2:hover{
    letter-spacing: 0.5px;
}

td{
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}
#produits p{
    display: inline-block;
    margin-right: 30px;
    margin-top: 15px;
    vertical-align: top;
}

#produits p img{
    width: 300px;
}